@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-links {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0px 10px;
  list-style: none;
}

.right-links {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  padding: 0px 10px;
  list-style: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

img {
  width: 600px;
}

a {
  text-decoration: none;
  color: rgb(88, 88, 88);
}

.buttons {
  display: flex;
  column-gap: 10px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 20px;
  flex: 1 1 auto;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: #eeeeee;
}